<div class="container">
  <p class="text">
    Привет!), диалоговое окно сделал не через сервис, раньше так не делал (и с
    primeNG не работал) увидел и захотел попробовать
    <br /><br />
    Это вызвало свои недостатки и баги (например: формы сами не очищались при
    закрытии окна)
    <br />
    прикостылил очистку и из верхнеуровнего тоже прокидывал очистку (потом
    убрал), решил закрыть заплатками лиж бы работало)
    <br /><br />
    да я мог бы налепить сервисов добавить rxjs чтобы все через сервисы
    управлялось
    <br />
    или переделать на правильное модальное, которое не лежит в основном
    компоненте.
    <br /><br />
    Но я надеюсь, что вы оцените работу и по нестандартному подходу и по
    качеству кода, а не только по "тут не канонично"
    <br /><br /><br><br>
    Критику и конструктивную обратную связь приветствую, так что не стесняйтесь)
  </p>
</div>
