<app-base-event-form
  #baseForm
  [extraFields]="sportTemplate"
  [eventForEdit]="eventForEdit()"
  [extraControls]="{
    genreMusic: [eventForEdit()?.genreMusic || '', Validators.required]
  }"
  (formResult)="formResult.emit($event)"
></app-base-event-form>

<ng-template #sportTemplate>
  <div class="form__field">
    <label class="form__label" for="genreMusic">Жанр музыки *</label>
    <input
      pInputText
      type="text"
      id="genreMusic"
      formControlName="genreMusic"
      class="form__input"
      placeholder="Введите количество участников"
    />
  </div>
</ng-template>
