@use "./scss/reset";
@use "./scss/ui-kit";
@use "primeicons/primeicons.css";

:root {
  --color-gray-300: #515050;
  --color-gray-400: #222222;
  --color-primary: #3250d6;
  --color-primary-hover: #002efb;
}

$breakpoint-xxl: 1600px;
$breakpoint-xl: 1480px;
$breakpoint-lg: 1200px;
$breakpoint-md: 992px;
$breakpoint-sm: 768px;
$breakpoint-xs: 480px;

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1500px;

  @media (min-width: $breakpoint-md) {
    padding: 0 30px;
  }

  &--fluid {
    padding: 0 15px;
    max-width: unset;

    @media (min-width: $breakpoint-lg) {
      padding: 0 30px;
    }
  }
}
